body {
    background-color: burlywood;
}


img{
    width: 450px;
    height: 300px;
}


nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: bisque;
    border-radius: 12px;
}

.edIT{
    width: 350px;
    height: 100px;
}

ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul li{
    margin: 15px;
    font-size: 24px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}

li a{
    text-decoration: none;
    color: blue;
}

.productos{
    display: flex;
    /* flex-direction: row; elementos en fila por default */
    /* flex-direction: column; elementos ordenados en columna */
    /* flex-direction: row-reverse; elementos en fila al revés */
    /* flex-direction: column-reverse; elementos en columna pero al revés */
    flex-direction: row;
    /* flex-wrap: nowrap; no hace un salto de linea cuando llega el final, por default */
    flex-wrap: wrap; /* habilita el salto de linea cuando termina la ventana (responsivo) */
    align-content: stretch;
    justify-content: space-evenly;
}


div{
    margin: 10px;
}

.seccionTablas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tablas{
    width: 80%;
}

td{
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}
