.nav{
    @include centrar;
    background-color: $color2;
    ul{
    list-style: none;
        li{
            display: block;
            a{
                color: wheat;
                &:hover{
                    color: $color3;
                }
            }
        }
    }
}